<!doctype html>
<!--suppress ALL -->
<html class="h-100" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org"
>

<head th:replace="fragments/head.html::head"></head>

<script th:inline="javascript"> /*<![CDATA[*/
const APP_NAME_STRING = /*[[#{app.name}]]*/"";/*]]>*/

$(document).ready(function () {
    setTitle(APP_NAME_STRING);
});
</script>

<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div th:replace="fragments/navbar.html::navbar"></div>
    <main class="px-3">
        <div class="text-center">
            <h1 th:text="#{home.heading}"></h1>
            <p class="lead" th:text="#{home.paragraph}"></p>
            <p class="lead">
                <a class="btn btn-lg btn-secondary fw-bold border-white bg-white"
                   th:href="@{~/games/create}"
                   th:text="#{home.create-button}">
                </a>
            </p>
        </div>
    </main>

    <footer th:replace="fragments/footer.html::footer"></footer>
</div>
</body>
</html>
